[package]
name = "uniform-cubic-splines"
version = "0.1.4"
authors = ["Moritz Moeller <virtualritz@gmail.com>"]
edition = "2018"
readme = "README.md"
keywords = ["splines", "curves", "graphics", "inversion", "cubic"]
categories = ["mathematics", "graphics", "multimedia", "no-std"]
license = "MIT OR Apache-2.0 OR Zlib"
description = "Simple uniform cubic spline evaluation and inversion."
documentation = "https://docs.rs/uniform-cubic-splines/"
repository = "https://github.com/virtualritz/uniform-cubic-splines/"

[dependencies]
num-traits = "0.2.14"
lerp = "0.4.0"

[features]
default = []
# Enable the is_sorted check on spline_inverse()
unstable = []
